/* -------------header--------------*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: rgb(233, 223, 220);
    
    
}

.title{
    font-size: 80px;
}
.choto-text{
    font-size: 20px;
}
.header-img{
height: 550px;
}
.btn-primary{
    padding: 15px;
    background-color: rgb(236, 16, 16);
    color: white;
    border: 0;
    border-radius: 5px;
}
/*-------------header------------*/
/*------------about-----------*/
.about{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.about-title{
    font-size: 40px;
    font-weight: 700;
}
.about-text{
    font-size: 20px;
    line-height: 40px;
}